[2021-12-01 02:45] ryanjduffy opened #29 "Design improved share dialog"
**Updated ticket description from Jon (May 17, 2022)**
Our current share dialog has some issues that I'll describe in more detail later. [Here's a Loom](https://www.loom.com/share/46086b782f2c452b9069ca738caba192) getting people up to speed on the history and what the design proposal is moving forward.

![image](https://user-images.githubusercontent.com/9154902/169205255-31912b6c-4585-40f7-9aad-d5

[2022-01-04 21:13] jaril commented on #29
This and RecordReplay/devtools#4878 are related.

[2022-01-08 19:16] jasonLaster commented on #29
The current experience is definitely confusing.

I can see us making some simple copy improvements in-line with what Loom has or de-coupling the teams/privacy fields.

### Simple option

* Anyone with the link can view
* Members of Replay can view
* Only people added can view

<img width="474" alt="Screen Shot 2022-01-08 at 11 13 58 AM" src="https://user-images.githubusercontent.com/254562/1486567

[2022-03-13 04:32] jonbell-lot23 commented on #29
Note while tagging tickets:

I'd consider this high importance but also more controversial than a copy change. Therefore it's harder to push out quickly, which makes other items lower hanging fruit.

[2022-03-13 17:19] jasonLaster commented on #29
This issue https://github.com/RecordReplay/devtools/issues/3827 could potentially unblock this ui.

[2022-03-16 01:52] jonbell-lot23 opened #17 "Onboarding: make a way to skip the demo"
We need to add a skip button and make sure the flow is good.

[2022-03-16 01:53] jonbell-lot23 opened #16 "Improve copy on onboarding hats"
Tracking the proposed changes here: https://www.notion.so/replayio/Hats-overview-c8fb98b59d744d5197cc7096fcb6e519

[2022-03-17 00:31] jonbell-lot23 opened #15 "New team flow needs better text"
“Please open a new tab and press the blue record button to record a Replay” is not what I should see after making a new team.

[2022-03-17 00:31] jonbell-lot23 opened #14 "[audit] Tooltip audit"
We do a pretty good job with this basic accessibility feature of HTML but we're missing it in some spots.

[2022-03-17 00:55] jonbell-lot23 opened #13 "Better video icon/ux"

[2022-03-21 00:06] jonbell-lot23 opened #12 ""Welcome to Replay, <team name>!" can be awkward"
![image](https://user-images.githubusercontent.com/9154902/159191799-0292eb87-c548-4807-b22e-c5944e7de1bf.png)

I thought this was a bit awkward. Might be good to re-write the text in a way that doesn't assume the team name is a person name.

[2022-03-23 05:03] jaril opened #18 "Dark mode icons in the loading screen clash with the background color"
<img width="745" alt="image" src="https://user-images.githubusercontent.com/15959269/159627475-7cb23fea-114b-495c-902d-12facf704a2c.png">

@jonbell-lot23 heads up

[2022-03-23 14:27] jaril commented on #12
Wanna take this on? @jonbell-lot23

[2022-03-23 14:34] jaril commented on #13
March thing or April thing?

[2022-03-24 21:34] jonbell-lot23 commented on #29
I want to do this, but I am comfortable punting for now. We'll address later.

[2022-03-24 23:54] jonbell-lot23 commented on #13
The design is pretty simple:

1. New icon
2. Background div shouldn't highlight on hover

[2022-03-24 23:54] jonbell-lot23 commented on #13
March seems reasonable

[2022-03-29 13:41] jaril commented on #18
@jonbell-lot23 is this addressable or would we need zypsy to come in for dark mode-y icons?

[2022-03-29 17:53] jonbell-lot23 commented on #18
Addressable but low pri

[2022-03-29 20:34] jaril commented on #18
Keeping it in March then!

[2022-03-29 20:42] jonbell-lot23 commented on #18
April's better, considering the priority level

[2022-03-30 14:29] jaril commented on #17
@jonbell-lot23 Still a march thing?

[2022-03-30 14:34] jaril commented on #12
Put this in April for now @jonbell-lot23 let me know if that sounds good!

[2022-03-31 00:53] jonbell-lot23 opened #11 "Use popover instead of menu for role dropdown"
1. Go to library
2. Go to team settings
3. Change someone from developer to user
4. Notice the dialog disappears immediately even if you're not done editing yet. That's because it's a menu but it should be a popover component.

[2022-03-31 20:10] jonbell-lot23 commented on #15
There's a distinction between "assigned to Jon" and "needs design thinking" so I'm removing the label

[2022-03-31 20:10] jonbell-lot23 commented on #16
There's a distinction between "assigned to Jon" and "needs design thinking" so I'm removing the label

[2022-04-03 20:54] jasonLaster opened #19 "view mode toggles should not allow text selection"
<img width="527" alt="Screen Shot 2022-04-03 at 1 53 29 PM" src="https://user-images.githubusercontent.com/254562/161448187-f12fd918-aa0d-4610-a80d-68c0ae0496b3.png">

i think we can just do `user-select: none`

[2022-04-06 14:21] jaril commented on #13
Can you share the design here?

[2022-04-06 15:41] jonbell-lot23 commented on #13
* The background shouldn't change on hover for video or the layout button
* I'm going to change the icon itself

[2022-04-06 17:12] jaril commented on #13
Got it thanks!!

[2022-04-08 19:28] jaril opened #20 "Display debugger step commands shortcuts somewhere else so we can nuke the old shortcuts modal"
![image](https://user-images.githubusercontent.com/15959269/162511150-5cdf0848-8381-4995-994d-98b475493d4f.png)

[<ShortcutsModal />](https://github.com/WebReplay/webreplay-devtools/blob/76d9b958dd1f39b821970751a7dc5faa6dc830a8/src/devtools/client/debugger/src/components/ShortcutsModal.js)

[2022-04-12 20:48] jonbell-lot23 opened #10 "[UX] Print statement conditionals are too hidden"
When people hit their 500 hit limit, there are two main ways to handle it:

* Set a conditional in the print statement window
* Use Focus Mode

Unfortunately, our conditional button is too subtle for people, and most people miss it. This ticket is for Jon to think up ways to make it more clear. Adding to the 500 hits error message is a good start, and there are also visual things we can do to the

[2022-04-13 01:12] jonbell-lot23 opened #9 "[UX] Design a Rainbow Console 🌈"
**Insight**

It's easy to lose track of console logs. Originally we were going to set a solid background colour for all of our print statements. ([Old issue here](https://github.com/RecordReplay/devtools/issues/6314)) But something many of us have discussed for ages is the ability to highlight rows and add emojis to help find a needle in a haystack. So we're going to build that.

**Next steps**

[

[2022-04-13 03:57] jaril opened #21 "Dark theme breakpoint panel has a hover state that doesn't conform with the rounded edges"
The dark theme hover background somehow doesn't show the same rounded corners that the light theme does.

https://user-images.githubusercontent.com/15959269/163097223-2c606ad3-7b18-4a85-8ab4-5b8d382f90ed.mov

[2022-04-14 01:47] jonbell-lot23 opened #8 "Create CI-specific library design"
**Background**

While exploring [Design Library 1.5](https://github.com/RecordReplay/devtools/issues/6265), it was clear that we have three different changes, which I've split into three GitHub tasks:

* [Add details pane to library](https://github.com/RecordReplay/devtools/issues/6384)
* [Add filters to library](https://github.com/RecordReplay/devtools/issues/6382)
* [Create CI-specific library](

[2022-04-14 03:50] jonbell-lot23 commented on #10
Adding to the next sprint because it's onboarding-tastic

[2022-04-16 20:00] jonbell-lot23 opened #7 "[UX] Design alerts for slow indexing and crashing"
Inspired by this bug:
https://github.com/RecordReplay/customer-support/issues/74

Every failure in Replay should message itself appropriately (and if possible, it should automatically retry without requiring user intervention).

Users shouldn't ever be left staring at a broken Replay without some idea of what happened.

[2022-04-17 04:39] jasonLaster opened #23 "Print Statements 1.5"
Suggestions
- [x] Next previous buttons could use a fill which would be more consistent with other buttons
- [x] The summary body could be white which would be a tad lighter
- [ ] The edit mode footer should just show the condition button. This will make it more discoverable
- [x] RecordReplay/design#21
- [x] RecordReplay/design#10

[Figma](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-

[2022-04-17 22:18] jonbell-lot23 opened #4 "[exploration] Explore the next version of comments"
We've had a lot of ideas around comments over time. Here are a few items to consider:

- [ ] What things aren't possible to add comments to? Should we add them?
- [ ] What if comments were a big text area, like a collaborative document?
- [ ] How can we add more data to comments?
- [ ] Can we be inspired by LookSee? (https://github.com/RecordReplay/design/issues/2)

[2022-04-17 22:19] jonbell-lot23 opened #1 "[UX] Explore how comments can better tell a story"
Auto-generated from product office hours chat

[2022-04-17 22:19] jonbell-lot23 opened #3 "[audit] Audit tabbing through the app"
Developers need things to be keyboard accessible, and one of the first steps for this is making sure tab support is great.

[2022-04-17 22:19] jonbell-lot23 opened #2 "[UX] Analyse CodeSee comments to inspire our own comments UX"
Auto-generated from product office hours chat

[2022-04-17 23:57] jonbell-lot23 commented on #7
Go link: http://go/failinggracefully
VIdeo explaining POV:

https://user-images.githubusercontent.com/9154902/163736914-e71d9681-77fb-4565-bfc1-85f4445cf4af.mp4

[2022-04-17 23:59] jonbell-lot23 commented on #8
Status as of April 17:

Feeling pretty aligned! Check http://go/library/ for more details, and here's a video summarising where we are:
https://www.loom.com/share/486783b840ef4b31964c066cbbad615e

[2022-04-18 00:01] jonbell-lot23 opened #5 "Our print statement onboarding ends confusingly"

[2022-04-18 00:01] jonbell-lot23 opened #22 "Our print statement onboarding ends confusingly"
[Here's the original issue we filed for this](https://github.com/RecordReplay/devtools/issues/6314)

In this screenshot, we say "check the console" but it's not clear what we're referring to:

![](https://user-images.githubusercontent.com/9154902/158491322-76fedc34-b626-4979-8f55-2c1602543c6b.png)

We are working on our Rainbow Console design, but this issue addresses a more immediate need: our on

[2022-04-18 00:19] jonbell-lot23 opened #6 "Onboarding refers to console.logs even when there's no console.log"
<img width="613" alt="image" src="https://user-images.githubusercontent.com/9154902/163737603-e543ab9b-fcdb-43ed-9ca9-7b93c5d283b7.png">

Notice the dead-end here. There's nowhere to go.

(Most people won't have this problem because they'll go through our back to the future demo)

[2022-04-18 01:29] jonbell-lot23 commented on #5
Hey @jaril and @jasonLaster, I came up with a quick hack for our onboarding problems. I added a quick unicorn emoji for our first print statements, so at least it will show up in the console. And that means we're not waiting on our Rainbow Console designs to land.

I have it half working, but need help with the other half:
https://www.loom.com/share/656f9a0a7c144039afc2716b1635e14f

(In the intere

[2022-04-18 01:29] jonbell-lot23 commented on #22
Hey @jaril and @jasonLaster, I came up with a quick hack for our onboarding problems. I added a quick unicorn emoji for our first print statements, so at least it will show up in the console. And that means we're not waiting on our Rainbow Console designs to land.

I have it half working, but need help with the other half:
https://www.loom.com/share/656f9a0a7c144039afc2716b1635e14f

(In the intere

[2022-04-18 04:39] jonbell-lot23 opened #24 "Update our "new comment" icon design/UX"
- Print statements
- Network monitor
- Comment panel

[2022-04-18 04:42] jonbell-lot23 opened #25 "500+ hits error should link to Focus Mode, not docs about Focus Mode"
Right now this happens:

1. 500+ limit
2. User has to know to go to Focus Mode
3. User drags one side in
4. User drags the other side in
5. User clicks away to commit
6. User tries again

This should be replaced with two things:

1. Messaging about Focus Mode (I thought we did this already but maybe not)
2. A single click that applies focus mode to the point you're paused on

[2022-04-18 04:48] jonbell-lot23 commented on #22
Status: need help getting this code working

[2022-04-18 04:49] jonbell-lot23 commented on #7
Status: Jon to do visuals and align with other places in the app:

1. Global indexing
2. Print statements loading
3. Pause panel
4. Loading in console

[2022-04-18 23:21] jonbell-lot23 commented on #7
Note to self: this is high priority

[2022-04-18 23:21] jonbell-lot23 commented on #8
Note to self: I just need to mock up enough visuals to keep this rolling forward. Pretty close to pencils down.

[2022-04-19 00:24] jonbell-lot23 commented on #7
Here's some UX work for item 1 above, the global indexing: https://www.loom.com/share/0a166bf55c72457dbd760dc2c9947251

And here are sketches (not final visuals!) that show it:
<img width="448" alt="image" src="https://user-images.githubusercontent.com/9154902/163896909-fd66abab-b0ce-4aaa-a697-4ad4222e3b97.png">

<img width="472" alt="image" src="https://user-images.githubusercontent.com/9154902/1

[2022-04-19 02:44] jonbell-lot23 commented on #7
Here's a Loom walking through 16 screens -- 4 areas x 4 states:
https://www.loom.com/share/26c51adcb1014f8d89a0b6f32921387b

Next steps:
Not all of these 16 screens are equally important, of course. I'd start by implementing each of the failure states as its own ticket. From there, we break out the other items in chunks.

[2022-04-19 02:47] jonbell-lot23 commented on #22
The timing isn't ideal to get this addressed, so I'm going to push this down a few iterations and we'll talk with Jaril when he returns.

[2022-04-20 00:28] jonbell-lot23 commented on #16
[Here's a Notion doc](https://www.notion.so/replayio/Hats-overview-c8fb98b59d744d5197cc7096fcb6e519) where I described before/after copy changes

Here are the new screens:

![image](https://user-images.githubusercontent.com/9154902/164122730-e00e8b13-9ee6-4404-adc9-85fe377350fe.png)

![image](https://user-images.githubusercontent.com/9154902/164122746-cea9bcf9-b590-4f4c-9198-cd09252466fb.png)

![i

[2022-04-20 01:30] jonbell-lot23 commented on #12
I changed the copy to this ->

![image](https://user-images.githubusercontent.com/9154902/164128710-a45de111-2bcd-44ef-b733-ff3e1ae46d5e.png)

That seems like a more appropriate bit of copy for a new team, rather than calling a person by their team name.

[2022-04-20 01:30] #12 closed

[2022-04-20 02:13] jonbell-lot23 opened #27 "CI-oriented Library V1"
This is a ticket for tracking the changes we want to add to the library to make it more CI-oriented.

- [ ] New row
- [ ] New detail pane
- [ ] View 1: Group by test
- [ ] View 2: Group by run
- [ ] View 3: View run
- [ ] View 4: View test

[2022-04-20 02:55] jonbell-lot23 commented on #8
Handoff complete! See the new ticket here: https://github.com/RecordReplay/devtools/issues/6475

[2022-04-20 02:55] #8 closed

[2022-04-20 03:15] jonbell-lot23 commented on #7
I've done my explorations and carved off the highest priority task: adding a message for a failed indexing process. Find the task here: https://github.com/RecordReplay/devtools/issues/6476

[2022-04-20 03:15] #7 closed

[2022-04-20 04:53] jonbell-lot23 opened #28 "[UX] Design Focus Mode 1.1"
**Background**

Focus Mode is missing some important stuff. [Here's a loom](https://www.loom.com/share/c84c600cb7684fc7bf65d8c2fd2d07ee) proposing some good improvements.

[Figma link](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/?node-id=11491%3A103519)
[Discord thread](https://discord.com/channels/779097926135054346/968316622475513976)

**Details**

* We have a new precision editor in the b

[2022-04-20 13:32] jasonLaster commented on #28
What do you mean by "A precision selector"

[2022-04-20 14:12] jaril commented on #29
@jonbell-lot23 remind me — are we thinking of pulling this up sooner than later?

[2022-04-20 19:15] jonbell-lot23 commented on #28
Right now you can't drag the focus mode window smaller than about 10%, so we show a different view for anything less than 10%. This would address that better.

[2022-04-20 19:17] jonbell-lot23 commented on #29
A lot of things are piling up they are related to it (such as team inbox) but we haven't yet prioritised it

[2022-04-21 01:14] jonbell-lot23 commented on #15
Meh. I played with this for a bit but couldn't come up with much that's demonstrably better. Closing.

[2022-04-21 01:14] #15 closed

[2022-04-21 02:23] jonbell-lot23 commented on #17
Hey @ceceliacreates you mentioned this a while back and I just got to it as part of an onboarding upgrade ->

<img width="726" alt="image" src="https://user-images.githubusercontent.com/9154902/164358940-4772d0f3-48ad-4480-b1de-bed640bd9f2e.png">

[2022-04-21 18:43] jaril opened #30 "Console error exploration"
https://discord.com/channels/779097926135054346/966563248776282133

@jonbell-lot23 I'll let you edit/fill in the details!

[2022-04-21 18:46] bvaughn commented on #28
I also find that I want to be able to drag the focused region around before "applying" it. That way I don't have to click on the left and right handles and move them both if I have an area I kind of want to scrub around with. (I do this in Cubase a lot.)

[2022-04-21 23:35] #17 closed

[2022-04-22 03:32] jonbell-lot23 commented on #10
Closing this because of other dupes

[2022-04-22 03:32] #10 closed

[2022-04-22 04:07] jonbell-lot23 commented on #23
Hey @bvaughn I've got a request!

I fixed a bunch of easy stuff in this ticket, and there's one remaining. We want to remove everything from the bottom row when you're editing a print statement. Here's a visual. Right now it looks like the top one but we want it to be like the bottom one:

<img width="1040" alt="image" src="https://user-images.githubusercontent.com/9154902/164596680-957f0822-7b6b-

[2022-04-22 04:11] jonbell-lot23 opened #31 "Customise onboarding login screen"
Jaril gave me a customised login screen for onboarding. Now it's time to customise it!

[2022-04-22 04:18] jasonLaster commented on #23
@jonbell-lot23 for fun - how about you open a PR and we can share some feedback on how we'd do it 😄

[2022-04-22 04:21] jasonLaster commented on #23
btw here's my quick, didn't run the code guess

[code]

[2022-04-22 04:47] jonbell-lot23 commented on #23
I'm going to start using an acronym to represent a nuanced thought that's going to come up more and more:

I like code challenges but I have a lot of design work to do and that's where I provide the most value to Replay, so the best use of my time with code stuff is to sometimes delegate. Or ....

-> ILCCBIHALODWTDATWIPTMVTRSTBUOMTWCSITSD <-

This one in particular seems doable, because the code s

[2022-04-22 05:42] jasonLaster commented on #23
sounds good - happy to run with it

[2022-04-22 12:31] bvaughn commented on #23
Haha, just saw that I was assigned and then unassigned this issue while I was asleep 😆  startup life! haha

I'd be happy to do this kind of change (little UI tweaks can be fun!) Feel free to tag me on stuff like this in the future.

[2022-04-22 18:00] bvaughn opened #32 "Timeline (and advanced timeline)"
(Hope it's okay for me to create an issue here as a placeholder for us to chat about something next week!)

I've been looking into https://github.com/RecordReplay/devtools/issues/6511 and https://github.com/RecordReplay/devtools/issues/5606 this morning, and I spoke with @jcmorrow a little bit to fill in gaps in my knowledge for when certain conditions might occur– and I came away with a pretty st

[2022-04-22 19:40] jonbell-lot23 commented on #32
1. This is the perfect way to flag something for design, thanks!
2. This is an ongoing discussion and we always knew there might be a day where we need to move past smoke and mirrors and build out a literal loaded bar. We might be there :)
3. Please read this: https://medium.com/replay-io/how-we-designed-our-focus-mode-595711802998 ... it explains how we got here
4. If you and Jaril have time, fee

[2022-04-23 05:55] jonbell-lot23 opened #33 "[exploration] Design "grab last minute" experience (aka flight recorder)"
We know that in the long run, we want an Xbox/Playstation style "grab last minute" button. This is why we're doing 10 minute recordings and getting other foundational technologies moved into place.

Eventually, we'll have it working and need a design to visualise how it would all work from a user's standpoint. This ticket is to explore that.

[2022-04-24 14:07] jasonLaster opened #34 "[Dark] Pause line highlight should be more noticeable"
The pause line in dark mode is a bit too subtle. Also, not sure if the "flash" is noticeable in dark mode.
![image](https://user-images.githubusercontent.com/254562/164980402-e8fcf02c-6444-4208-83de-838cfe457493.png)

https://discord.com/channels/779097926135054346/957390059714281482/967760989095350272

[2022-04-24 14:10] Andarist commented on #34
This would definitely improve the situation - but i wonder: is there a strong argument here to **avoid** the scroll jump in the reported scenario?

[2022-04-24 23:34] jonbell-lot23 commented on #34
Agreed. There's a key insight here:

* It's hard to see what changed

And three implantation ideas:

1. More noticeable flash
2. More clear background colour
3. Scroll jump

I'd argue the first two are less impactful than the third, and can all work together. Is there an argument against the scroll jump?

[2022-04-25 01:45] jasonLaster commented on #34
re scroll jump: I think i need to see a video of the scroll jump we're referring to.  If i'm understanding correctly though, the reason is that if you scroll every time you step forward or backwards it would be disruptive. Step in / out is different, but harder to differentiate from.

[2022-04-25 06:34] Andarist commented on #34
Yes, scrolling at all times would be disruptive - im specifically mentioning a scenario when we cross a function boundary though. When I either jump into a new function or jump out of the existing ones. In this scenario I usually have no idea where the "target" function is and I dont expect my scroll position to be preserved because most often than not it's not preserved as very often the target f

[2022-04-25 16:20] #23 closed

[2022-04-25 21:32] jonbell-lot23 opened #35 "[UX] Design GitHub action reports UI"

[2022-04-25 21:33] #35 closed

[2022-04-26 16:11] jasonLaster opened #36 "Improve support for print statements with 200+ messages"
### Discussed in https://github.com/RecordReplay/devtools/discussions/6531

<div type='discussions-op-text'>

<sup>Originally posted by **jasonLaster** April 22, 2022</sup>
It would be nice to explore ways in which our frontend can support situations where there are more than 200 messages to show in the console. Here are some examples:

1. Adding print statement that has 200+ messages
2. Showing 2

[2022-04-26 18:25] jasonLaster opened #37 "Commenting on a network request"
From @bvaughn
https://www.loom.com/share/bde37fcb2aef4a52988afb81b34718b3

From @jasonLaster

- I think the console comment interaction could be useful in the network monitor as well
- I also think we should have a comment button on the request/response panels as well. Discussed it in my 9min goliath of a talk, but adding more contextual comments will be a theme

From @jcmorrow
* I agree with your

[2022-04-26 20:25] jonbell-lot23 opened #38 "[Dark theme] White dropdown appearing in share dialog"
![image](https://user-images.githubusercontent.com/9154902/165386082-a5010c06-1337-4e7a-b73e-7723ec47ad18.png)

[2022-04-26 21:41] jonbell-lot23 opened #39 "[UX] Design new comment button and unfurling behaviour"
![image](https://user-images.githubusercontent.com/9154902/165397647-45bd32cb-1f6e-472a-aa6d-42ee72702158.png)

We'll be putting this in several places in the app:

* Network Monitor (a few different panes)
* Comment pane
* Print statement
* Maybe others, stand by

We need to consider some other stuff, like:

* How should it look when it's disabled?
* Jason had an idea to remove the button entirel

[2022-04-26 23:12] jasonLaster commented on #36
~~https://www.loom.com/share/30fa87c4df414d989d8d8c1a420e2e12~~
https://www.loom.com/share/0f312f647134441f955a107dc14ae631
some figma graphics
https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=11491%3A103519

[2022-04-26 23:13] jasonLaster commented on #36
* perhaps show markers from outside of the focus region
* perhaps focus from within the timeline

[2022-04-27 03:53] jonbell-lot23 commented on #9
The design portion of this task is winding down, so I'm going to close this out. (Discussion still welcome of course!)

Next steps: further discussion to get this into code

[2022-04-27 03:53] #9 closed

[2022-04-27 03:57] jonbell-lot23 commented on #39
This is in a good place for now, design-wise. Closing out

[2022-04-27 03:57] #39 closed

[2022-04-27 04:09] jonbell-lot23 commented on #28
Cc @bvaughn this is making good progress!

By the way, you mentioned the interaction around how the window could move underneath your cursor, and how it could be annoying if it shifted on you. Totally agree -- my thinking is it would track your cursor until a mouse click, at which point it would lock in. From there you'd be able to resize with the edge grippers. So there wouldn't be any mistaken c

[2022-04-27 04:10] jonbell-lot23 commented on #28
This has been designed (but of course is still open for discussion) so I'm going to close this ticket and we'll track as an eng task rather than a design one from here.

[2022-04-27 04:10] #28 closed

[2022-04-27 04:21] jonbell-lot23 commented on #36
Here was my original design ticket on this: https://github.com/RecordReplay/design/issues/25

Similar but not the exact same task. Mine is more on the design side, this is a more general frontend task.

[2022-04-27 04:25] jonbell-lot23 opened #40 "[UX] Design global loader 1.5"
**Background**

We explored loading states [here in Figma](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/?node-id=11413%3A85630)

Now we're narrowing in on something that can help us untangle loading from indexing in a model that's clear and understandable without being overwhelming

Proposal:

[Here's a one minute Loom](https://www.loom.com/share/327cc57190ed46fe8f70ac44811115cc) explaining h

[2022-04-27 05:37] jonbell-lot23 opened #41 "[UX] Work through org design details in library"
Design POV:

![image](https://user-images.githubusercontent.com/9154902/168725024-4ea085b4-9c18-4751-8de7-46636c3a37ff.png)

[Link to Figma](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/Replay-Design-Doc?node-id=12233%3A93798)

I discussed with @ryanjduffy and @jasonLaster in person, here's the summary:

* There should be a spot to show enterprise logos at the top. Notice how I made the backg

[2022-04-27 16:48] jasonLaster commented on #25
@jonbell-lot23 here is an example of a hot print statement today.

I like the idea of an button that launches focus mode with a "best guess" window.

I also wonder if it is time to begin discussing some other frontend improvements we could do as well
https://github.com/RecordReplay/design/issues/36

The biggest one that we could do which we can discuss in #36 is adding the ability to progressively

[2022-04-27 16:58] jasonLaster opened #42 "Progressive (insta) loading"
We're currently making progress on helping the user understand the replay's current loading state in #40.

**To recap:**
1. Replay should communicate progress loading regions
2. Replay should communicate progress buffering the video

This is good and we should move forward here. There is also a larger progressive loading project which we can call insta loading.

**tl;dr**
Brian recently added supp

[2022-04-27 18:48] jcmorrow commented on #25
Yeah, even in cases where we have thousands of analysis points, we often get back usable results from the backend, and a thing that would be nice is to say "I only ever want to see a window of ten of these in the console, and let's start by using the ten that are closest to my current timestamp". This would actually be really handy for all print statements, even the print statements that are only

[2022-04-27 18:49] jcmorrow commented on #25
If I had an interface to say "I want to see X neighboring hits, centered around Y time or the Zth hit" I think that would be 🤌

[2022-04-27 21:23] jonbell-lot23 opened #43 "It should be easier to share a recording"
@oliverdealb said

"on call with Dyanboard CEO yesterday, he raised a request to be able to switch a setting in his Team so Replays are always shared by default. He mentioned Loom has a nice shortcut (cmd + shit +L) which makes it much faster to share recordings and have all of them available in the library. think this would be a nice feature for Team or Org plan settings?"

Jon says:

I don't und

[2022-04-28 02:15] jonbell-lot23 commented on #20
The design for this is complete. I'm going to assign to @jaril for now

[2022-04-28 02:21] jonbell-lot23 commented on #25
Here's my short term proposal before we get to Focus Mode 1.1 and #36 :

Right now the page links to docs ->
<img width="557" alt="image" src="https://user-images.githubusercontent.com/9154902/165663472-a4822b8f-2e5a-4ecd-ac45-9d66ea582b03.png">

I think clicking on the words "Focus Mode" should instead trigger our actual Focus Mode. That's a quick win that sets up our broader ideas. Thoughts?

[2022-04-28 02:22] jonbell-lot23 commented on #25
Marking as design complete and tapping @jcmorrow and @jasonLaster on the shoulder for:

1. Thumbs up
2. Assigning it to someone to make this quick link (not me, I have a big stack of design tasks)
3. Pivoting our attention over to #36

[2022-04-28 06:20] jonbell-lot23 commented on #19
Closed

[2022-04-28 06:20] #19 closed

[2022-04-28 06:23] jonbell-lot23 commented on #18
Fixed

[2022-04-28 06:23] #18 closed

[2022-04-28 06:24] jonbell-lot23 commented on #24
Fixed in #39

[2022-04-28 06:24] #24 closed

[2022-04-28 06:25] jonbell-lot23 commented on #22
I'm going to close this for now because it was addressed in other ways.

We should get back to this eventually but it's not as bad now

[2022-04-28 06:26] #21 closed

[2022-04-28 06:27] #16 closed

[2022-04-28 15:13] oliverdealb commented on #43
Essentially Dynaboard would like “Always share” setting in team or org
settings so all recordings are automatically in the team library and are
viewable. Today, it takes 3 clicks to share each recording and adds
friction to an already friction-filled experience. Let me know if you need
more specifics?

On Wed, Apr 27, 2022 at 2:23 PM Jon Bell ***@***.***> wrote:

[2022-04-28 19:10] #22 closed

[2022-04-28 19:16] jcmorrow commented on #25
Yeah I'm happy to knock this out as a bandaid pre #36

[2022-04-28 19:51] jonbell-lot23 commented on #30
@jaril that link isn't working for me, not sure why. Can you copy/paste the chat here?

[2022-04-28 19:52] jonbell-lot23 commented on #32
Adding a note to say this design is moving forward and has been shared out with the team

[2022-04-28 22:48] jonbell-lot23 opened #44 "Design system maintenance"
Travis is starting soon and there are things we can do to make that transition better

[2022-04-29 01:38] #38 closed

[2022-04-29 01:43] jonbell-lot23 commented on #43
@oliverdealb I'm starting to look into this now and there may be a difference between how I think the feature works and what others are seeing. cc'ing @jasonLaster and @ryanjduffy for additional insights.

My understanding is that this flow is possible and works:

1. I make a new team
2. I invite people to it
3. Every time I record a replay, it goes into that team's library and every team member h

[2022-05-02 02:36] jonbell-lot23 commented on #32
Closing this out because we're tracking it here: https://github.com/RecordReplay/design/issues/40

It's possible the new ticket is missing details or isn't actually a full dupe, so feel free to re-open!

[2022-05-02 02:36] #32 closed

[2022-05-02 02:55] jonbell-lot23 opened #45 "Rainbow console visual polish"
- [ ] A background colour for each image, perhaps?
- [ ] Do we want a border? How do we handle a white background without a border?

[2022-05-02 06:18] #45 closed

[2022-05-02 14:01] jaril commented on #43
That's correct. When the Dynaboard CEO saves a recording, it should default to Private in the Dynaboard team. Once he hits upload, he shouldn't have to touch any other sharing settings — just copy the link and he's good to go.

@oliverdealb I looked at this briefly and it looks like Alex hasn't recorded anything since 3/16. His default workspace is set correctly as Dynaboard. He might be talking a

[2022-05-02 15:15] jaril commented on #30
Doesn't work for me either anymore 😬 Closing this for now since there's no reference (if it's important it'll pop up again!).

Note to self discord links aren't reliable copy paste context if possible!

[2022-05-02 15:15] #30 closed

[2022-05-03 18:33] #25 closed

[2022-05-09 04:12] jonbell-lot23 commented on #40
Here's where we netted out:

![image](https://user-images.githubusercontent.com/9154902/167339741-d345b037-7ba7-4310-bdcc-31ecf19602bd.png)

[Link to Figma](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/?node-id=11594%3A118127)

[2022-05-09 04:12] #40 closed

[2022-05-09 04:53] jonbell-lot23 opened #46 "[UX] Design right-click behavior for Focus Mode"
**The problem we're trying to solve**

Focus Mode should be contextual. You should be able to be in a situation, right click on something, and automatically narrow the focus to that point. This is going to be a great feature.

**Things we know**

* It'll be a standard right-click iteraction
* It'll be used in multiple places
* It'll be rad

**The best way forward**

1. On the design side, I'm not

[2022-05-10 20:41] jasonLaster commented on #43
Users have asked for comma delimiated lists or pill based lists with autocomplete for adding collaborators

[2022-05-10 20:53] souporserious opened #47 "Initial docs site"
We should have a NextJS site for displaying documentation about guides, components, theming, figma, etc. I'll be porting over my work from this [case study](https://github.com/souporserious/documenting-systems-in-nextjs) to start and we can eventually move to the official [DocGraph](https://github.com/souporserious/docgraph) library once it's published.

[2022-05-11 03:23] jonbell-lot23 commented on #44
Made some progress but will close this in favor of more specific tasks

[2022-05-11 03:23] #44 closed

[2022-05-11 21:36] jonbell-lot23 opened #50 "[Exploration] How would print statements look in the console drawer?"

[2022-05-11 21:37] jonbell-lot23 opened #51 "Make a list of UX Pain Points to share with Travis"
* "Ready when you are screen"
* Our loading screen
* Onboarding doesn't yet have dark theme colouring

[2022-05-11 21:39] jonbell-lot23 opened #52 "[UX] Timeline progress improvements, May edition"
**Background/the problem we're trying to solve**

We have made many improvements to our timeline over the last year, and this is the next step forward. These items should be as clear as possible when using our app:

1. Where the playhead currently is [good]
2. What regions are ready to play quickly [misleading]
3. Messaging when things are slow/laggy/not ready [bad]

**Details: What regions are re

[2022-05-11 22:39] jasonLaster opened #53 "[Explore] Should it be possible to delete a replay from within a replay?"
Ways you should be able to delete
1. from the replay
2. from the library
3. bulk delete in the library

[2022-05-12 03:08] jonbell-lot23 commented on #53
Design notes:

Numbers 2 and 3 exist already, so the question is around number 1, deleting from inside a replay. To discuss further because I don't want an accidental "[Homer wants lots of horns](https://youtu.be/WPc-VEqBPHI?t=181)" situation

[2022-05-12 03:55] jasonLaster commented on #53
@jonbell-lot23 wonder why andarist couldnt find it in the library.

[2022-05-12 04:32] jonbell-lot23 commented on #53
It happens to the best of us!

The three vertical dots overflow menu on a row is a battle-tested and clear pattern that balances elegance with discoverability. We could bring things forward, but this doesn't meet the bar for something that should exist at a top level. Just like how I wouldn't want these 7 items to have inscrutable icons across the row ->

<img width="211" alt="image" src="https://

[2022-05-12 22:15] jonbell-lot23 commented on #11
Hey @souporserious this is a small UI polish issue I've been meaning to figure out. Can you take a look?

[2022-05-12 22:18] jonbell-lot23 commented on #13
Closing this out, will re-assign later

[2022-05-12 22:18] #13 closed

[2022-05-12 22:26] jonbell-lot23 commented on #46
Hey @bvaughn @jaril @jasonLaster @markerikson see notes above. Can we discuss these two things?

* Where should these entry points be?
* What would we expect to see in the menu?

I have my own idea -- print statements, timeline, console for entry points, and I want the menu to start simple. But would benefit from your thoughts.

[2022-05-12 23:02] jcmorrow commented on #52
I want to add some not-very-fun but sadly important nuance here:

I don't think this is true? I think right now this is supposed to mean "we have loaded paints for this area so the video should work". Right now, AFAIK, there is no bar that tells the user "this part of the recording is loaded" (though we have discussed adding one when hovering of the new loading UI". If we do that, we should recogn

[2022-05-12 23:03] jcmorrow commented on #52
And, it's worth noting, even when we *do* show the user which parts are loaded, just because the part of the recording where you are currently paused is loaded does not mean "everything is gonna work". Lots of stuff will still wait for indexing to be complete before it works.

[2022-05-12 23:16] bvaughn commented on #52
I _think_ we talked about the ability to differentiate between index/loaded and _ready for playback_ (maybe connected to the paint regions?) – if we have that ability (I think we said we did?) then I think _that's_ what we should be showing with the timeline progress bar, because _that ui_ is primarily about playback.

[2022-05-12 23:19] jcmorrow commented on #52
Yep, if you see the new 4th bar on the protocol timeline (the bottom blue one), that is what we know about where repaints fall in the replay. That doesn't mean we have the paint data just yet, we would still need to download it, but at least we could start doing that if the user clicked there.

[2022-05-12 23:20] bvaughn commented on #46
Vague question: our client side modeling around focus region is all time based. I _think_ we're going to need to switch over to be _point based_ for some of the functionality Jon's describing above. We have a function (`mostRecentPaintOrMouseEvent`) that looks up the nearest paint event (with a point) for a given time – but can we easily/reliably make the opposite conversion? Will this change requ

[2022-05-12 23:23] bvaughn commented on #52
Blah. _That's_ where it went. It used to be turned on via `app.features.advancedTimeline` (right?) but that stopped working for me. It's `app.features.protocolTimeline` now I guess. That being said, I only see 3 lines 😄

[2022-05-12 23:34] jcmorrow commented on #52
Yeah I introduced a bug in the paints calculation this morning where we would try and make it `Infinity%` wide when it was all loaded 😅

[2022-05-12 23:34] jcmorrow commented on #52
It should be fixed now

[2022-05-13 00:47] jonbell-lot23 commented on #51
Done: https://www.notion.so/replayio/Jon-s-Big-List-of-UX-Pain-Points-9baa176cdeb8477094bd2dcca5265f6a

[2022-05-13 00:47] #51 closed

[2022-05-13 02:27] jcmorrow opened #54 "Add a forward path (issues, discord, support) to our error screens"
Some errors are things that probably don't need further explanation (we turn the server off after 5 minutes of inactivity, you don't have permission, etc.). But lots of things could leave the user feeling a little helpless (e.g. "Something went wrong"). Especially in those open-ended cases, it would be nice to provide the user with an option other than "try again and 🤞 ". Probably some links to di

[2022-05-13 14:58] jaril commented on #46
There's probably a budget version where we wouldn't need points. But this definitely feels like something where precision down to the point's important.

Not off the top of my head. @hbenl @jcmorrow?

[2022-05-13 14:58] jaril commented on #46
Also I _think_ there might be a way to avoid having to do any point<>time conversions, but I'm not sure how janky it really is. We essentially have a list of points, and we're used the focus region start/end to filter it. There might be a version where that start/end value can be either a point OR time, depending on how the focus was set. The points have both a `point` and `time` so we can be flex

[2022-05-15 23:02] jonbell-lot23 commented on #46
Adding comments from @jcmorrow

[2022-05-15 23:17] markerikson commented on #46
FWIW, I could maybe see a parallel to how the Beyond Compare diffing tool lets you select files to compare from within Windows Explorer.

It adds a context menu item for all files.  When you right-click any file, it first says "Select left file for compare":

![image](https://user-images.githubusercontent.com/1128784/168498193-6fd44acf-0bda-4bb8-8538-8675afa7f7ae.png)

When you choose that, BC sav

[2022-05-15 23:19] jonbell-lot23 commented on #52
I wrote a comment but revising it back because it didn't add a lot of new information

[2022-05-15 23:53] jonbell-lot23 commented on #46
Great point, @markerikson ! I didn't see these comments until I recorded the below video but the concepts I'm showing here absolutely work with the model you're describing.

cc @jasonLaster @jcmorrow @bvaughn @jaril check out this video, curious to hear your thoughts:
https://www.loom.com/share/227734dd67374c378114db4358e3c420

[2022-05-15 23:56] jonbell-lot23 commented on #46
[Here's the Figma I'm working from](https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/?node-id=12193%3A85238)

[2022-05-16 02:25] jasonLaster commented on #46
I'm not sure. There is something nice about smart / cute... There is also something nice about explicit / learnable.

I think it might come down to copy. i'm in favor of something like either

Option 1
* Start focusing here
* Stop focusing here

Option 2
* Set focus start
* Set focus stop

Of the two I think i like option 2 because it is shorter and more direct. Also - i think iconagraphy could re

[2022-05-16 02:32] jonbell-lot23 commented on #46
"Cute" versus "explicit" is the wrong framing, because we all agree explicit is better.

For the first click, it's a question of two approaches:

"Focus here"
vs
"Set focus start"

The first option does what the rest of the UX does -- it picks where you are and comes up with a reasonable range around it for you to fine-tune if you choose. It uses our existing model.

The second option causes you t

[2022-05-16 04:07] jonbell-lot23 commented on #46
Update:

1. I forgot that in the console you don't want a range. You want to start HERE.
2. Also we totally need the unicorn palette, duh

This is a quick mockup but it gets the general idea across:

![image](https://user-images.githubusercontent.com/9154902/168518174-6b3fb439-4d72-46ca-bdd8-4f8b024c938d.png)

Stay tuned, will improve these visuals

[2022-05-16 04:19] jcmorrow commented on #46
We do deal with times without points, but that's partially why we've added `getPointNearTime`. For sure it would be possible to also write a `getTimeNearPoint`, but I don't know where we would need that, most points are TimeStampedPoints which will have a time attached.

[2022-05-16 04:27] jcmorrow commented on #46
I dunno, on the whole "focus here" vs. "start and end" thing... I don't really think they are very different.

I think the word "reasonable" is filling in a lot of gaps in this sentence. Reasonable when I'm looking at a network request which took several seconds is very different from reasonable when I'm looking at a tight loop that was hit 1,000 times in a second and I'm drowing in console logs.

[2022-05-16 04:29] jonbell-lot23 commented on #46
@jcmorrow That totally makes sense, yeah. The "set start" and "set end" pattern above is looking better and better.

[2022-05-16 12:28] bvaughn commented on #46
Wow, a lot of things to reply to. GitHub issues don't work well for this. Maybe we should use Discussions for this sort of thing so they are threaded! 😃

---

# Point vs Time

@jaril: I don't understand what you mean by this comment: https://github.com/RecordReplay/design/issues/46#issuecomment-1126150123

---

# Context Menu Loom

Regarding [this Loom](https://www.loom.com/share/227734dd67374c378

[2022-05-17 02:20] jonbell-lot23 commented on #46
**Design status/point of view before I mark this as design-complete!**

<img width="646" alt="image" src="https://user-images.githubusercontent.com/9154902/168713450-402bd6a9-5e87-4b03-b45a-d641f3bbe2b8.png">

(this visual isn't pixel perfect yet, but it's a strong indication of where we're heading)

1. We're going to use a standard right-click menu that we use elsewhere
2. Options for "Set focus

[2022-05-17 02:21] #46 closed

[2022-05-17 03:04] jonbell-lot23 commented on #52
This ticket is causing a bit of confusion in my workflow because it's not closed but I'm also waiting on some other focus mode stuff before I do anything else. Sending to next iteration.

[2022-05-17 03:56] jonbell-lot23 commented on #41
Process note: I'm going to mark this as done because that's how I track my tasks on the iteration. When we create a ticket to implement this work in the code, we can refer back to this work as a starting point.

[2022-05-17 03:56] #41 closed

[2022-05-17 04:40] jonbell-lot23 commented on #43
Note to self: I'm looking into share stuff now. There are a few workstreams, as I see it:

1. Better share dialog that works with our various UX flows (team inbox, upload screen, orgs in library, etc)
2. This ticket, which is more around sharing defaults, bulk sharing, and comma-delimited lists

Stay tuned. Might rename or split out this ticket.

[2022-05-17 11:31] bvaughn commented on #46
Since the design ticket has been closed, I guess the  focus mode portion of this is ready to be picked up for https://github.com/RecordReplay/devtools/issues/6735, so I'll do it today.

[2022-05-19 02:51] jonbell-lot23 commented on #52
Hey @bvaughn and @jcmorrow, I've filed a new ticket for adding a loading indicator onto the playhead when things are not yet loaded: https://github.com/RecordReplay/devtools/issues/6833

It is likely that with that change I'll be able to close out this ticket, but stay tuned.

Update: I put together a design so if we agree with it we can roll it out. (I'll need to cut an icon, stay tuned for that)

[2022-05-19 02:53] jonbell-lot23 opened #55 "Design an "exclude node modules" setting to our control-P quick open"
[From this ticket](https://github.com/RecordReplay/devtools/issues/6811)

We already have this:
![image](https://user-images.githubusercontent.com/9154902/169194322-202a4234-0eaf-46e8-8e10-1011a62f7aab.png)

But it might be nice to do the same thing here, when someone tries to open a file:
![image](https://user-images.githubusercontent.com/9154902/169194359-f9cca4c1-cc52-48f8-8c19-a2611ff7ec10.png

[2022-05-19 04:34] jonbell-lot23 commented on #29
[Here's a Loom](https://www.loom.com/share/46086b782f2c452b9069ca738caba192) showing a proposed design
[Here's us chatting in Discord](https://discord.com/channels/779097926135054346/975982613632262196)
[And here's a new ticket for the code side](https://github.com/RecordReplay/devtools/issues/6841)

[2022-05-19 04:35] jonbell-lot23 commented on #29
Marking this as complete for iteration tracking reasons

[2022-05-19 04:35] #29 closed

[2022-05-19 04:57] jasonLaster commented on #55
We also have the exclude node modules for console logs. We might want to revisit more settings in the settings modal.

[2022-05-19 20:31] jonbell-lot23 commented on #52
I am closing this ticket in favour of other ones. The best way to keep track is on this Discord page:
https://www.notion.so/replayio/Loading-buffering-loading-states-design-discussion-2c6b4e0a13f845ddb09221a3a3231631

[2022-05-20 04:58] jasonLaster opened #56 "Improve rainbow badge icon"
It seems like we'd be more consistent if the button did not have a border

<img width="247" alt="Screen Shot 2022-05-19 at 9 56 12 PM" src="https://user-images.githubusercontent.com/254562/169453571-bfb6800c-0259-4ec3-889a-b60118245d8b.png">

[2022-05-20 05:03] jasonLaster opened #57 "zypsyfy our pause line"
Not sure if these colors are perfect, but the old colors are still the firefox blue as opposed to our zypsy blue... I also looked at our fuschia, but it was too close to an error pause line...

### old
<img width="562" alt="Screen Shot 2022-05-19 at 10 01 51 PM" src="https://user-images.githubusercontent.com/254562/169454017-8803c00b-bfaf-4b94-9e3a-ac3d2317c53d.png">

### new
<img width="576" alt=

[2022-05-20 06:07] jonbell-lot23 commented on #56
Agree, that and a better icon are on my list

[2022-05-20 19:12] jonbell-lot23 commented on #57
Oh good catch, totally agree. And this is something I am super capable of fixing, which is a nice bonus

[2022-05-22 23:05] jonbell-lot23 commented on #1
Closed in favour of https://github.com/RecordReplay/design/issues/4

[2022-05-22 23:06] #1 closed

[2022-05-22 23:08] jonbell-lot23 opened #58 "[audit] Onboarding audit (May 22)"
It's been a while, we should see how this experience feels. I should also document the steps so other people can easily do it.

[2022-05-22 23:13] jonbell-lot23 opened #59 "[ux] Share dialogs need comma delimited lists and pills with auto-complete"
From https://github.com/RecordReplay/design/issues/43 :
"Users have asked for comma delimited lists or pill based lists with autocomplete for adding collaborators"

[2022-05-22 23:14] jonbell-lot23 commented on #43
This ticket is addressed, closing and addressing Jason's comment in this issue:
https://github.com/RecordReplay/design/issues/59

[2022-05-22 23:14] #43 closed

[2022-05-22 23:14] #2 closed

[2022-05-22 23:46] jonbell-lot23 commented on #56
This is a more general item around making a better icon so I changed the issue title. These are four items to address at once:

- [ ] Better background
- [ ] Better visuals
- [ ] Figure out the border
- [ ] Make it play nicely with the filter icon

It's actually best practice for filter to use the fill to represent state (see below). Which means using a border. Which might mean the badge itself mi

[2022-05-23 02:07] jonbell-lot23 opened #60 "Investigate settings + node modules exclusion"
Places to put node_modules stuff

- [ ] Node modules in console
- [ ] Searching text
- [ ] In sources

Notes: focus on a directory

[2022-05-23 04:03] #52 closed

[2022-05-23 04:05] jonbell-lot23 commented on #56
Figma page: https://www.figma.com/file/mAotNZRv6M5X0zHIFKPzFY/?node-id=12395%3A100714

[2022-05-24 05:40] jonbell-lot23 opened #61 "Update component library"
- [x] Secondary toolbar (aka devtools toolbar)
- [x] Network monitor
- [x] Source of truth files
- [x] Global Loader 1.5

[2022-05-24 05:40] #61 closed

[2022-05-24 17:27] jasonLaster commented on #56
Moving this to @souporserious  and intentionally broadening the scope so that the button animates on hover, the picker animates out, and the picker badges pop on hover.

[2022-05-24 21:40] bvaughn opened #63 "Combine log point and break point UI controls"
Earlier today I recorded a [Loom describing something that frequently confuses me when using Replay– break points](https://www.loom.com/share/f9dab419cee546c9a48875f7f4611a4a). This lead to a video call with @jaril and @jasonLaster discussing the feature.

Afterward I wrote a rough proposal for how we could combine the log point and break point functionality into a unified control that would (a) b

[2022-05-24 21:53] jonbell-lot23 opened #62 "[UX] Design a combined logpoint + breakpoint panel"
All the background is here for now: https://github.com/RecordReplay/devtools/issues/6935

This is a ticket for design-specific stuff we're tracking. Stay tuned.

[2022-05-24 23:37] jonbell-lot23 commented on #62
Dupe

[2022-05-24 23:37] #62 closed

[2022-05-24 23:39] jonbell-lot23 commented on #63
Jason Loom: https://www.loom.com/share/adf4513ff58a4eb3a9aaf8dfc0f62f47

Jason notes for Jon:
- tooltips (perhaps unfurl, or a nicer react styled tooltip)
- representing state in the summary

Discord discussion: https://discord.com/channels/779097926135054346/978716085018837092

[2022-05-24 23:57] jonbell-lot23 opened #64 "[UX] Design stalled state for Global Loader 1.6"
There's a state between "turtle" and "fatal error" where things may hang, and we need to design a safety net for that.

**Design POV**
Loom: https://www.loom.com/share/394a8f0382f249848d46bf3426fca9b0

* Don't use a custom icon because it causes an awkward state change uncessarily
* Require a long hover or click to get small tooltip message

The whole proposal is around being understated but provi

[2022-05-25 00:02] jonbell-lot23 opened #65 "[UX] Design video experience for playing outside a focus region"
Today, the playhead stops when you reach the end of a focus region. We're moving to a design where it won't stop there, so we want to think through the implications of this and make sure we have a design in hand for it.

[2022-05-25 07:54] jonbell-lot23 opened #66 "[explore] Look into buffering tooltips for Global Loader 1.6"
<img width="1251" alt="image" src="https://user-images.githubusercontent.com/9154902/170211209-bcb9a12e-bb88-4c61-8dde-30a696575bde.png">

In production we use a little tooltip to show the timestamp. I'm not seeing a big benefit to swapping out the timestamp to say "buffering" or "processing." To discuss more.

[2022-05-25 07:59] jonbell-lot23 commented on #66
@jcmorrow @bvaughn on Monday we talked about hovering over the timeline to get more data. We talked about showing buffering versus processing, as well as hovering over the play button.

I think I'm missing something here, because a) I'm not seeing the benefit b) we're already showing a tooltip on the timeline, so even if we wanted to say "buffering" we'd have to deal with the timestamp. To discuss

[2022-05-25 07:59] jonbell-lot23 commented on #64
cc @bvaughn, see Loom above to see my POV around how to do the "dead turtle" state.

[2022-05-25 08:00] jonbell-lot23 commented on #65
cc @bvaughn @jcmorrow @jasonLaster check out the loom above to see my design POV for how to handle the "video playing outside video region" UX.

[2022-05-25 12:39] bvaughn commented on #63
Some thoughts on Jason's Loom:
1. I agree that the eye doesn't work well for log point toggle. (It was just a placeholder in the initial pitch.)
2. I really like bringing the break behavior badge to right beside of the timeline!

I propose that if we have such a simple break toggle, we don't really even need separate _disable_ break button. You could just toggle break functionality back off.

Then

[2022-05-25 12:41] bvaughn commented on #66
I think the text "buffering" was just meant to aid users who might not know what the different colors mean (and might expect clicking there to immediately start playback). We could still show the timestamp (e.g. "0.21 (buffering)"

[2022-05-25 12:56] bvaughn commented on #65
@jonbell-lot23 Great Loom walk through! Left a few questions on the video:
1. What do we show above/below the logs when we _don't_ know the number of logs that were hidden? (We might not!)
2. What happens if you click the text "your focus window" ? Is that a link that opens our doc about focus windows?

[2022-05-25 12:59] bvaughn commented on #64
@jonbell-lot23 This proposed UX seems reasonable! What's the new pop-out look like?

It's not a tooltip (because those disappear when you mouse away from the target– so you wouldn't be able to click any call to action in it).

It's not our standard modal (because those are center aligned in the app and have a kind of standard style that I think would be a bit heavy for this sort of thing).

I'd be

[2022-05-25 19:11] jonbell-lot23 commented on #65
1. Ah! Yeah, we can just use generic copy there.
2. I was thinking it would launch our standard focus mode (like pressing shift-f), thoughts?

[2022-05-25 19:15] jonbell-lot23 commented on #64
You are totally right -- I was thinking of a "mini modal" for the exact reasons you describe. Basically a tooltip that doesn't go away until you click off it. (a better way to describe it is a toast)

Please feel free to implement as you see fit, and also happy to define more if you'd like!

[2022-05-25 21:20] jasonLaster commented on #64
@bvaughn feel free to go for it. For what it's worth i think a good looking tooltip would probably achieve the goals and if not we can always ratchet it up too.

[2022-05-25 21:25] jasonLaster commented on #65
Love where this is headed as well

1. would not be opposed to adding right click with some simple actions (add comment, play to here, jump to focus start). I think there's little downside in being wrong and upside in experimenting
2. i wonder if there's value in adding the timestamp in blue on the right of the console focus overflow row? could see the argument both ways.
3. re focus vs debugging c

[2022-05-25 21:41] jonbell-lot23 commented on #65
Totally agree. And people are much more likely to request a feature they're **missing** than provide feedback about one they **don't use**. So I'm going to use a little verbal jujitsu here and say we both agree with the benefit of experimenting ... which is why I think it's important to not have these options yet and see who misses them.

My thesis is zero or nearly zero people will miss them, and

[2022-05-25 21:44] jonbell-lot23 commented on #64
This feedback has been well noted over the last few weeks, but my design POV is still that it's very important to not dead-end a customer without an actionable link in this scenario. A tooltip that says "sorry" is not a full-credit answer. They need a call to action when we've gotten this far down the failure path, meaning they need more than a tooltip.

[2022-05-25 22:52] jasonLaster commented on #64
re CTA: totally.
re modal vs tooltip vs toast: lets see what feels right

[2022-05-25 23:30] jonbell-lot23 commented on #66
I hear that. But yeah, I think "0:21 (buffering)" feels a bit heavy-handed. I'd propose doing all the other items and if we later think this is necessary we can consider it then.

[2022-05-25 23:31] jonbell-lot23 commented on #64
100%, high five

[2022-05-25 23:34] jonbell-lot23 commented on #65
(Closing this for GitHub iteration tracking reasons. We're at a good place with the design, so now we're in discuss->code it up territory)

[2022-05-25 23:34] jonbell-lot23 commented on #64
(Closing this for GitHub iteration tracking reasons. We're at a good place with the design, so now we're in discuss->code it up territory)

[2022-05-25 23:34] #64 closed

[2022-05-25 23:39] jonbell-lot23 commented on #66
(Closing this for GitHub iteration tracking reasons. Still happy to discuss of course, just cleaning up sprint board and we're at a pretty good design POV even if we're not fully aligned yet)

[2022-05-25 23:39] #66 closed

[2022-06-01 00:34] jonbell-lot23 commented on #58
Completed this, and here are my findings:

## Bugs (fixed)

- [ ]  Our settings import was broken ([[bug](https://github.com/RecordReplay/gecko-dev/issues/859)](https://github.com/RecordReplay/gecko-dev/issues/859))

## Bugs (open)

- [ ]  Adobe Acrobat is the first thing you see ([[bug](https://github.com/RecordReplay/gecko-dev/issues/752)](https://github.com/RecordReplay/gecko-dev/issues/752))
-

[2022-06-01 00:34] #58 closed

[2022-06-02 14:11] bvaughn commented on #65
Couple of edge cases I'm thinking through:

| Scenario | Solution |
|:---|:---|
| What do we show if there are too many messages to fetch them _all_? We can't show the number of filtered messages before/after because we literally won't know. | Based on previous messages on this thread, I think the plan is for us to show a generic message like, "_There may be some logs before/after your debugging w

[2022-06-02 15:18] jasonLaster commented on #65
@bvaughn agreed with you'e assumptions. For historical purposes, it would be easier to read this as a table w/ a Q and A column.

[2022-06-02 21:22] bvaughn commented on #65
There is one more awkward edge case.

| Scenario | Solution |
|:---|:---|
| What if we have loaded all of the messages in-memory, but the backend has unloaded some regions after the user assigned a focus mode. (We filter _out_ messages that are outside of loaded regions, presumably because we can't support things like object inspection?) In this case, we know _how many_ messages we've filtered out

[2022-06-02 21:32] jcmorrow commented on #65
We should double check this, but I don't think the backend will ever unload regions *in the middle* of a recording. Or at least... if that can happen... then so many things will be broken.

[2022-06-02 21:35] bvaughn commented on #65
It's not _in the middle_ of a recording. It's outside of the (current) focus region– but if we're dragging around a new focus region, we update what we show in the console as you refine the region, which might include logs that are in (not-yet-reloaded) regions.

The thing is, these logs might be _in the middle of_ the new, pending focus region, so it makes no sense to show either an "X hidden bef

[2022-06-02 21:40] bvaughn commented on #65
We've chatted over VC and decided to just show the logs in this case 👍🏼 Feels like a better UX for me (after trying it locally).

[2022-06-02 22:06] bvaughn commented on #65
It's not clear to me under which circumstances a user would see this message:
![Screen Shot 2022-06-02 at 6 05 38 PM](https://user-images.githubusercontent.com/29597/171746220-9bd0e70a-e41f-418e-b967-9c43b1b180b1.png)

I don't think we allow users to set breakpoints (or step to them) outside of a focus region. That's part of the point of "focusing"?

[2022-06-02 22:43] jonbell-lot23 commented on #65
@bvaughn that was a quick sketch from chatting with @jasonLaster so I don't have as strong a handle on it as Jason does. I think you'd get here by:

1. Not being focused and setting breakpoints
2. Focusing to a point where breakpoints aren't shown

But that's just my guess

[2022-06-03 13:04] bvaughn commented on #64
As I look at picking up this issue, I have an additional small suggestion: the idea of delaying 15 seconds (or some amount) before we make this tooltip/click popout available seems strange to me, given that there's no external visual state to indicate that anything has changed.

I think if loading is slow enough that we show the turtle, we should show the popout if the user clicks on the turtle.

[2022-06-03 22:36] jonbell-lot23 commented on #64
Yeah, that makes sense. Curious to see where you land on this, let me know how it goes.

[2022-06-04 01:28] bvaughn commented on #64
Decision that I went with (for now) was if the user hovers for a second (or clicks) on the turtle, we show the pop-out. Otherwise we don't.

[2022-06-05 21:38] jonbell-lot23 opened #67 "Test Suites design support"
General ticket for tracking test suite design work

[2022-06-06 23:50] #56 closed

[2022-06-07 15:14] jaril commented on #36
This is in the current sprint but as far as I know isn't being actively worked on. I'm also not clear on what the next steps are here since things might have shifted since the original filing.

I _think_ we're still working on fundamental analyses/focus changes but we're nearing the end of the tunnel there. Loosening some of the restrictions (e.g. <200) that we have here seems like an obvious next

[2022-06-07 18:51] jcmorrow commented on #36
we now show up to 1000 points, which helps a little?

[2022-06-07 18:52] jcmorrow commented on #36
Also - you can use the console points to set being and end now, which is nice.

[2022-06-07 18:52] jcmorrow commented on #36
one of the things I have struggled with with this card is that we don't really have specifics on what we want to do yet

[2022-06-08 02:06] jonbell-lot23 commented on #36
When this happens, I typically propose a new issue that is more specific/defined.

[2022-06-08 15:15] jaril commented on #36
I'll take a stab at clarifying this next sprint, and then figuring out what needs to be worked on/when it should be worked on.

[2022-06-09 19:42] gideonred commented on #67
This ticket has been moved to [DES-38](https://linear.app/replay/issue/DES-38/test-suites-design-support)

[2022-06-09 19:43] gideonred commented on #63
This ticket has been moved to [DES-37](https://linear.app/replay/issue/DES-37/combine-log-point-and-break-point-ui-controls)

[2022-06-09 19:44] gideonred commented on #60
This ticket has been moved to [DES-36](https://linear.app/replay/issue/DES-36/investigate-settings-node-modules-exclusion)

[2022-06-09 19:44] gideonred commented on #59
This ticket has been moved to [DES-35](https://linear.app/replay/issue/DES-35/[ux]-share-dialogs-need-comma-delimited-lists-and-pills-with-auto)

[2022-06-09 19:44] gideonred commented on #55
This ticket has been moved to [DES-34](https://linear.app/replay/issue/DES-34/design-an-exclude-node-modules-setting-to-our-control-p-quick-open)

[2022-06-09 19:44] gideonred commented on #54
This ticket has been moved to [DES-33](https://linear.app/replay/issue/DES-33/add-a-forward-path-issues-discord-support-to-our-error-screens)

[2022-06-09 19:44] gideonred commented on #53
This ticket has been moved to [DES-32](https://linear.app/replay/issue/DES-32/[explore]-should-it-be-possible-to-delete-a-replay-from-within-a)

[2022-06-09 19:44] gideonred commented on #50
This ticket has been moved to [DES-31](https://linear.app/replay/issue/DES-31/[exploration]-how-would-print-statements-look-in-the-console-drawer)

[2022-06-09 19:45] gideonred commented on #47
This ticket has been moved to [DES-30](https://linear.app/replay/issue/DES-30/initial-docs-site)

[2022-06-09 19:46] gideonred commented on #42
This ticket has been moved to [DES-29](https://linear.app/replay/issue/DES-29/progressive-insta-loading)

[2022-06-09 19:46] gideonred commented on #37
This ticket has been moved to [DES-28](https://linear.app/replay/issue/DES-28/commenting-on-a-network-request)

[2022-06-09 19:46] gideonred commented on #36
This ticket has been moved to [DES-27](https://linear.app/replay/issue/DES-27/improve-support-for-print-statements-with-200-messages)

[2022-06-09 19:46] gideonred commented on #34
This ticket has been moved to [DES-26](https://linear.app/replay/issue/DES-26/[dark]-pause-line-highlight-should-be-more-noticeable)

[2022-06-09 19:46] gideonred commented on #33
This ticket has been moved to [DES-25](https://linear.app/replay/issue/DES-25/[exploration]-design-grab-last-minute-experience-aka-flight-recorder)

[2022-06-09 19:46] gideonred commented on #31
This ticket has been moved to [DES-24](https://linear.app/replay/issue/DES-24/customise-onboarding-login-screen)

[2022-06-09 19:46] gideonred commented on #3
This ticket has been moved to [DES-20](https://linear.app/replay/issue/DES-20/[audit]-audit-tabbing-through-the-app)

[2022-06-09 19:47] gideonred commented on #4
This ticket has been moved to [DES-21](https://linear.app/replay/issue/DES-21/[exploration]-explore-the-next-version-of-comments)

[2022-06-09 19:48] gideonred commented on #11
This ticket has been moved to [DES-22](https://linear.app/replay/issue/DES-22/use-popover-instead-of-menu-for-role-dropdown)

[2022-06-09 19:48] gideonred commented on #14
This ticket has been moved to [DES-23](https://linear.app/replay/issue/DES-23/[audit]-tooltip-audit)

[2022-06-10 16:41] #67 closed

[2022-06-10 16:41] #63 closed

[2022-06-10 16:41] #60 closed

[2022-06-10 16:41] #59 closed

[2022-06-10 16:41] #55 closed

[2022-06-10 16:41] #54 closed

[2022-06-10 16:41] #53 closed

[2022-06-10 16:41] #47 closed

[2022-06-10 16:41] #42 closed

[2022-06-10 16:41] #37 closed

[2022-06-10 16:41] #36 closed

[2022-06-10 16:42] #33 closed

[2022-06-10 16:42] #31 closed

[2022-06-10 16:42] #3 closed

[2022-06-10 16:42] #4 closed

[2022-06-10 16:42] #11 closed

[2022-06-10 16:42] #14 closed

[2022-07-03 21:50] #34 closed

[2022-10-11 07:54] oliverdealb commented on #43
Yes that’s the friction. He doesn’t want to have to save every recording,
hit upload and copy the link. He just wants to make a recording and have
all recordings be automatically in his team library and available to anyone
on his team by default. All he has to do is click record. Based on Jon’s
response, it sounds like this is possible.

I copied that flow and shared back with customer. Once custo